@model TPV2.Models.Reserves

@{
    ViewData["Title"] = "Apagar";
}

<h1>Apagar</h1>

<h3>Pretende apagar esta reserva?</h3>
<div>
    <h4>Reservas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.Address)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Description)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RClientIdReserve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RClientIdReserve.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isRemoved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isRemoved)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ReserveId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
